---
layout: base.njk
permalink: /404.html
title: Página não encontrada
eleventyExcludeFromCollections: true
---
<section class="wrap erro">
  <span class="erro__codigo">404</span>
  <h1>Essa página não existe</h1>
  <p>O link pode estar velho ou com erro de digitação. Tente a busca ou volte para a capa.</p>
  <div class="erro__acoes">
    <a class="botao" href="/">Ir para a capa</a>
    <a class="botao botao--vazado" href="/busca/">Buscar</a>
  </div>
</section>
